.grid-square {
  display: flex;
  flex-direction: column;
  margin: 32px;
  &__input {
    margin: 8px;
    height: 1px;
    width: 1px;
    opacity: 0;
    &:checked + label {
      background-color: #19323C;
      border: none;
    }
  }
  &__label {
    position: relative;
    margin: auto;
    padding: 10px 18px;
    height: 1px;
    width: 1px;
    background-color: #E7E7E7;
    border: 1px dotted #DFF8EB;
  }
}
