.grid-column {
  display: inline-flex;
  flex-direction: row;
  margin: 2rem;
  input[type="checkbox"] {
    display: flex;
    flex-direction: column;
    margin: .65em;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  label {
    position: relative;
    margin: auto;
    padding: 10px 18px;
    height: 1px;
    width: 1px;
    background-color: #E7E7E7;
    border: 1px dotted #DFF8EB;
  }
  input[type="checkbox"]:checked + label {
    background-color: #19323C;
    border: none;
  }
  input[type="submit"] {
    margin: 1em;
  }
}
