.header {
  display: flex;
  justify-content: space-between;
  background-color: #DFF8EB;
  img {
    height: 2rem;
    padding: 2rem;
  }
  a {
    padding: 2.5rem;
    font-size: .8rem;
    color: #F24D55;
    text-decoration: none;
  }
  a:hover, a:active, a:visited {
    color: rgba(242,77,85,.7);
  }
}
