@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #DFF8EB;
  img {
    height: 2rem;
    padding: 2rem;
  }
  a {
    padding: 2.5rem;
    font-size: .8rem;
    color: #F24D55;
    text-decoration: none;
  }
  a:hover, a:active, a:visited {
    color: rgba(242,77,85,.7);
  }
}

.grid {
  background-color: #E7E7E7;
  border: 2px solid #F24D55;
  color: #F24D55;
  text-align: center;
}

.grid-column {
  display: inline-flex;
  flex-direction: row;
  margin: 2rem;
  input[type="checkbox"] {
    display: flex;
    flex-direction: column;
    margin: .65em;
    height: 1px;
    width: 1px;
    opacity: 0;
  }
  label {
    position: relative;
    margin: auto;
    padding: 10px 18px;
    height: 1px;
    width: 1px;
    background-color: #E7E7E7;
    border: 1px dotted #DFF8EB;
  }
  input[type="checkbox"]:checked + label {
    background-color: #19323C;
    border: none;
  }
  input[type="submit"] {
    margin: 1em;
  }
}

.playground {
  background-color: #DFF8EB;
  color: #F24D55;
  padding: 2rem;
  position: relative;
  bottom: 0;
  text-align: center;
}
