@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  margin: 0;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
}

.btn-default {
  margin: 8px;
  padding: 8px;
  background-color: #DFF8EB;
  &:hover {
    background-color: rgba(242,77,85,.7);
  }
}
